<div class="tool" data-tool="convert">
  <div class="tool-controls">
  {% set fileKind = 'video' %}{% set fileArticle = 'a' %}
  {% set fileAccept = 'video/*,.mkv,.mov,.webm,.ts,.m2ts' %}
  {% set fileHelp = 'MOV, MKV, WebM, MP4 or MPEG-TS. AVI and WMV are not supported.' %}
  {% include "partials/filepicker.njk" %}
  <p class="control-help">The output is MP4. Converting may increase file size.</p>
  {% set actionLabel = 'Convert to MP4' %}{% include "partials/toolstatus.njk" %}
</div>
